@{
    ViewData["Title"] = "Manage Cart";
    ViewData["PageHeading"] = "Manage Cart";
    decimal cartTotal = 0;
}


    <section class="wrap">

        <h3 class="fullWidth">Shopping Cart</h3>



        @if (Model.Count == 0)

        {
            <div>
                <p>Shopping Cart Empty.</p>
            </div>
        }
        else
        {
    <div>
        @if (ViewBag.msg != null)
        {
        <p class="msg">@ViewBag.msg</p>
        }
        <table class="fullCart">
            <tr>
                <th>ID</th>
                <th>Film</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Cost</th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {

                cartTotal += item.OrderQuantity * item.FilmPrice;
                <tr>
                    <td>@item.FilmID</td>
                    <td>@item.FilmTitle</td>
                    <td>@item.OrderQuantity</td>
                    <td>&pound;@(item.FilmPrice.ToString("0.00"))</td>
                    <td>&pound;@((item.OrderQuantity * item.FilmPrice).ToString("0.00"))</td>
                    <td>
                        <form method="post" asp-action="RemoveCartItem">
                            <input type="hidden" name="FilmID" id="FilmID" value="@item.FilmID" />
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>&pound;@cartTotal.ToString("0.00")</td>
                <td></td>
            </tr>

        </table>
    </div>

        }

        </section>
